
@media (max-width:961px )  { /* tablet and below */

.grid-container {
  display: grid;
  grid-template-columns: auto 75vw auto;
  grid-template-rows: repeat(3,100vh);
  grid-template-areas:
  
    ". side1 ."
    ". side2 ."
    ". side3 ."
    ;
  }

  .item.item1 main:before
{
  content:'';
  position: absolute;
  background: linear-gradient(to right,HSLA(162, 76%, 32%, 0.6) , HSLA(162, 76%, 32%, 0.2));
  width:119%; 
  height:100%;
  top:0px;
  left:0px;
}

  .sec.sec2 {
      height: 43%;
      background: transparent;
  }
  .profile-face{
        width: 90% !important;
  }

}


@media (max-width:641px)  { /* mobile */ 

.grid-container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(3,100vh);
  grid-template-areas:
  
    "side1"
    "side2"
    "side3"
    ;
  }

  .sec.sec2 {
      height: 40% !important;
      background: transparent;
  }

  .job-title
  {
    width:85%! important;
  }
  .profile-face{
    left: 60px ;
  }
  .sec3 h1
  {
    left:40px;
  }

.afnan_social_media{

  left:3px;

}

}